{% extends "layout.html" %}

{% block content %}
{% if total %}
    <table>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item }}</td>
                <td>
                    <a href="/edit/{{key}}" class="btn btn-primary">Editar</a>
                    <a href="/delete/{{key}}" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <label id="total" class="total"><h1>${{total}}</h1></label>
    <div id="items" class="items"></div>
    <div>
        <a href="/vaciarCarrito" class="btn btn-danger">Vaciar carrito</a>
    </div>
    <button id="checkout-button"  class="btn btn-dark" onclick="checkout()">Checkout</button>
{% else %}
    <h1>Todavía no tienes productos en el carrito</h1>
{% endif %}
{% endblock %}