{% extends 'layout.html' %}

{% block content %}
<div class="container align-items-center mt-4">
    <div class="form-group col-sm-4 m-auto">
        <form action="/changePassword/{{name}}" method="POST">
            <div class="form-group">
                <input type="password" class="form-control" name="oldPassword" placeholder="Contraseña actual" autofocus>
                <input type="password" class="form-control" name="newPassword" placeholder="Nueva contraseña">
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirma contraseña">
                <input type="submit" class="form-control btn btn-success" value="Confirmar">
            </div>
        </form>
        <a href="/storeManager">
            <button class="btn btn-danger form-control">Cancelar</button>
        </a>
    </div>
</div>
{% endblock %}