{%extends "layout.html"%}

{% block log %}
{% if opc == True%}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{name}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="/storeManager" class="dropdown-item">Manager</a>
        <a href="/storeManager/search" class="dropdown-item">Busquedas</a>
        <a class="dropdown-item" href="/changeName/{{name}}">Cambiar nombre</a>
        <a class="dropdown-item" href="/changePassword/{{name}}">Cambiar contraseña</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/storeManager/logout">Salir</a>
    </div>
</li>
{% endif %}
{% endblock %}

{% block content %}
<form action="/add" method="POST" enctype="multipart/form-data">
    <div class="container align-items-center mt-4">
        <div class="form-group col-sm-4 m-auto mb-4" >
            <input type="text" class="form-control" name="producto" id="producto" placeholder="Nombre del producto" autofocus>
            <div class="input-group mb-3">
                <div>
                    <input type="file" class="custom-file-input form-control" name="imagen" id="imagen" placeholder="Imagen">
                    <label class="custom-file-label">Elige un archivo</label>
                </div>
            </div>
            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion">
            <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio del producto">
            <input type="number" class="form-control" name="inventario" id="inventario" placeholder="Stock">
            <input type="text" class="form-control" name="etiquetas" id="etiquetas" placeholder="Etiquetas">
            <input type="submit" value="Enviar" class="btn btn-success form-control">
        </div>
    </div>
</form>

<div class="container m-auto col-sm-4">
    <table class="table table-striped table-dark table-bordered table-responsive">
        <thead class="thead-dark">
            <tr>
                <td>Pagina</td>
                <td>Visitas</td>
            </tr>
        </thead>
        <tbody>
            {% for key in it %}
                <tr>
                    <td>{{ it[key]['Pagina'] }}</td>
                    <td>{{ it[key]['Visitas'] }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}