{% extends 'layout.html' %}

{% block content %}
<div class="container align-items-center mt-4">
    <div class="form-group col-sm-4" >
        <form action="/signup" method="POST">
            <div class="form-group">
                <p>Registrarse</p>
                <input type="text" class="form-control" name="usuario" placeholder="Usuario" autofocus>
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
                <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
                <input type="password" class="form-control" name="confirmcontrasena" placeholder="Confirma tu contraseña">
                <input type="submit" class="form-control btn btn-success" value="Registrarse">
            </div>
        </form>
    </div>
</div>
{% endblock %}